.padreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.segundoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navContainer {
  display: flex;
  flex-direction: column;
}
.containerCartita {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerSearch {
  width: 15rem;
  display: flex;
  height: 100%;
}
.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;
  height: 100%;
}
.containerSyC {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerSelect {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  text-align: center;
}
