.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
  animation: move 1s ease-in-out;
}
@keyframes move {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.form {
  display: flex;
  flex-direction: row;
  background-color: beige;
  border-radius: 20px;
  height: 40rem;
  width: 45rem;
  max-height: 60rem;
}
.bt {
  padding: 0.5em 1.5em;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  margin: 2rem;
  transition: all 0.9s;
  background-color: #ffacac;
  background-size: contain;
  background-blend-mode: multiply;
  cursor: pointer;
}
.bt:hover {
  background-color: #ffe5e5;
  border-color: wheat;
  border-radius: 0px;
}

.title {
  font-size: 4rem;
  font-size: bold;
  color: black;
}

.inputContainer {
  height: 40rem;
  width: 40rem;
  max-width: 50rem;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select {
  margin-top: 20px;
  width: 15rem;
  padding: 3px;
  margin-bottom: 10px;
}
.sideImg {
  background-image: url("../../util/sideImg.jpg");
  background-size: cover;
  width: 20rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.labels {
  font-size: 22px;
  color: black;
}
.errors {
  margin-top: 1px;
  font-size: small;
}
.te {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  max-height: 6rem;
}
.contenedorTemp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  max-height: 6rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.btTemp {
  cursor: pointer;
  padding: 0.3em 1em;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  font-size: 8px;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.9s;
  background-color: cadetblue;
  background-size: contain;
  background-blend-mode: multiply;
  cursor: pointer;
}
.submit {
  display: block;
  cursor: pointer;
  padding: 0.3em 1em;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  margin: 2rem;
  transition: all 0.9s;
  background-color: cadetblue;
  background-size: contain;
  background-blend-mode: multiply;
  cursor: pointer;
}
.submit:hover {
  /* background-image: url("../../util/utiie.png"); */
  background-color: #ffe5e5;
  border-color: wheat;
  border-radius: 0px;
  /* animation: animatedBackground 6s linear infinite alternate; */
}
