.container {
  display: flex;
  height: 26rem;
}
.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  height: 25rem;
  transition: 0.5s;
}
.tarjetas:hover {
  transform: translateY(-15px);
}
.tarjetasDentro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* border: 1px solid #273746; */
  border-radius: 20px;
  width: 18rem;
  height: 23rem;
  background-color: #fdfefe;
}
.infoContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  height: 45%;
}
.imgContainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  height: 55%;
}
.name {
  background-color: #ebedef;
  color: #273746;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 3px 0 5px;
  width: 100%;
}
.name:hover {
  color: #f0b27a;
}
.link {
  text-decoration: none;
}
.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.temperament {
  font-size: small;
  width: 90%;
  align-self: center;
  margin-top: 4px;
  text-align: center;
  color: #273746;
  font-weight: 600;
}
.weight {
  font-size: medium;
  color: #273746;
}
