.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.containerAbout {
  background-color: #c5c6c8;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 30rem;
  box-shadow: 0 0 15px 3px;
  justify-content: center;
}
.liContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 5rem;
  margin: 0;
}
.containerName {
  margin: 0;
  padding-top: 0;
}
.h1Mi {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}
.spanMi {
  color: #ff6961;
}
.spansito {
  color: #ff6961;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
}
.h3Mi {
  font-weight: 600;
  font-size: small;
}
.req {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.h2Li {
  font-size: 20px;
  font-weight: 600;
}
.li {
  font-size: medium;
  list-style: none;
}
.bt {
  transform: rotateX(32deg);
  border-radius: 10px;
  border-color: white;
  font-size: 18px;
  color: black;
  font-weight: 600;
  padding: 10px 17px;
  cursor: pointer;
  transition: transform 0.2s;
}
.bt:hover {
  transform: rotateX(38deg) translateY(7px);
}
