.container {
  display: flex;
  justify-content: space-around;
  height: 4.5rem;
  background-color: #ebedef;
  animation: move 1s ease-in-out;
}
@keyframes move {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.btContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.title {
  font-size: 4rem;
  font-weight: bold;
  color: #273746;
  font-family: "Courier New", Courier, monospace;
}
.bt {
  transform: rotateX(32deg);
  border-radius: 10px;
  border-color: white;
  font-size: large;
  color: #273746;
  font-weight: 500;
  padding: 8px 20px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 0 10px;
  background-color: #fdf2e9;
}
.bt:hover {
  transform: rotateX(38deg) translateY(7px);
}
